.home {
  background-image: url("https://storage.googleapis.com/wzuk/assets/images/5575aa2b3d16aJJfcFf0/20452664_lel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}
